[submodule "Elasticsearch-Exporter"]
	path = Elasticsearch-Exporter
	url = https://github.com/mallocator/Elasticsearch-Exporter
[submodule "TwitterAPI"]
	path = TwitterAPI
	url = https://github.com/biancini/TwitterAPI
[submodule "geopy"]
	path = geopy
	url = https://github.com/biancini/geopy
[submodule "elasticsearch-hadoop"]
	path = elasticsearch-hadoop
	url = https://github.com/biancini/elasticsearch-hadoop
[submodule "java-geojson"]
	path = java-geojson
	url = https://github.com/biancini/java-geojson
